<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
          <tr th:each="data :${purchase}">
             <td> <span th:text= "${data.purchase_id}"></span></td>
             <td> <span th:text= "${data.user_name}"></span></td>
             <td> <span th:text= "${data.product_name}"></span></td>
             <td> <span th:text= "${data.category}"></span></td>
             <td> <span th:text= "${data.date}"></span></td>
          </tr>   
</table>
</body>
</html>